@page "/dashboard"

@inherits AuthenticationRazorPage

<h2>Willkommen, Admin.</h2>
<br />
@if (!DataLoaded)
{
    <MudOverlay Visible="IsVisible" DarkBackground="true" Absolute="true">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
}

    <div class="container">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="width:300px" Href="/createknowledgetest">Test anlegen</MudButton>
    </div>
    <br />

    <MudStack>
        <MudDataGrid Items="@_knowledgetests" Striped="@Striped">
            <Columns>
                <PropertyColumn Property="x => x.Designation" Title="Testjahr"></PropertyColumn>
                <TemplateColumn CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="()=>NavigateToDetails(context.Item.Id)">Details</MudButton>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="() => ExportEvaluatorCredentials(context.Item.Id, context.Item.Designation)">Bewerter Export</MudButton>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" OnClick="() => ExportParticipantsCredentials(context.Item.Id, context.Item.Designation)">Teilnehmer Export</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudStack>
