@page "/knowledgetestdetails/{KnowledgeTestId:int}"

@inherits AuthenticationRazorPage

<MudStack Spacing="4">
    <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center" Class="my-4" Spacing="4">
        <h1 class="m-0" aria-label="Testbezeichnung">Testbezeichnung: @Model.KnowledgeTestYear</h1>
        <MudTooltip Text="Diese Funktion ist noch nicht verfügbar"><MudButton aria-label="Bearbeiten" Color="Color.Primary" Variant="Variant.Filled" Disabled="true" Style="border-radius: 20px; padding-left:20px; padding-right:20px;">Bearbeiten</MudButton></MudTooltip>
        <MudTooltip Text="Diese Funktion ist noch nicht verfügbar"><MudButton aria-label="PDF exportieren" Color="Color.Error" StartIcon="@Icons.Material.Filled.PictureAsPdf" Variant="Variant.Filled" Disabled="true" Style="border-radius: 20px; padding-left:20px; padding-right:20px;">PDF exportieren</MudButton></MudTooltip>
    </MudStack>


    <MudStack Row Justify="Justify.Center">
        <MudDataGrid Striped=true Items="@Model.TestPersonResults" Filterable="true" QuickFilter="@QuickSearch" T="ModelTestPersonResult" ColumnResizeMode="ResizeMode.Container" RowsPerPage="5">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Anmeldungen</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Suche" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" aria-label="Suche" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                <TemplateColumn Filterable="false" CellStyle="width:20px" HeaderStyle="width:20px">
                    <CellTemplate>
                        <MudStack>
                            <MudIcon Style="border:3px solid black; border-radius:50%" Icon="@Icons.Material.Filled.Person" Title="Personen Icon"/>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Filterable="false" CellClass="mx-3" HeaderClass="mx-3" Property="x => x!.Name" />
                <PropertyColumn Filterable="false" CellClass="mx-3" HeaderClass="mx-3" Property="x => x!.Station" />
                <TemplateColumn Filterable="false" CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudStack Row AlignItems="AlignItems.Center">
                            @{
                                var item = context.Item;
                            }
                            @if (item != null!)
                            {
                                <MudStack>
                                    @foreach (var result in item.Results)
                                    {
                                        <label aria-label="@($"Absolvierte Stufe von {item.Name}")">@result.LevelName</label>
                                    }
                                </MudStack>
                                <MudStack>
                                    @foreach (var result in item.Results)
                                    {
                                        <div aria-label="@($"Ergebnis der absolvierten Stufe von {item.Name}")">
                                            <EvaluationDetails State="EnumEvaluation.Ungraded" Result="@result.LevelResult"></EvaluationDetails>
                                        </div>
                                    }
                                </MudStack>
                                <MudTooltip Text="Diese Funktion ist noch nicht verfügbar"><MudButton Style="border-radius: 20px; padding-left:20px; padding-right:20px;" aria-label="@($" Bearbeite {item.Name}")" Size="Size.Medium" Variant="Variant.Filled" Disabled="true" Color="Color.Primary">Bearbeiten</MudButton></MudTooltip>
                            }
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="ModelTestPersonResult" />
            </PagerContent>
        </MudDataGrid>
    </MudStack>
</MudStack>



