@page "/"
@inject NavigationManager NavigationManager
@inject ISnackbar MudSnackbar
<div class="container">
    <div class="login">
        <h3>Willkommen beim Wissenstest!</h3>
        <br />
        <h3><i>Zugang für Administratoren</i></h3>
        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
        <MudTextField aria-label="E-Mail für Login" @bind-Value="@Email" Style="width: 400px;" Label="E-Mail-Adresse" Required="true" Variant="Variant.Filled" Clearable="true" />
        <MudTextField aria-label="Passwort für Login" @bind-Value="@Password" Style="width: 400px;" Label="Passwort" Required="true" Variant="Variant.Filled" Clearable="true" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" AdornmentAriaLabel="Passwort anzeigen" />
        <MudButton Disabled="@Processing" aria-label="Anmelde-Button" Variant="Variant.Filled" Color="Color.Primary" Style="border-radius: 20px; padding-left:20px; padding-right:20px;" @onclick="LoginUser">
            @if (Processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Einloggen...</MudText>
            }
            else
            {
                <MudText>Anmelden</MudText>
            }
        </MudButton>
        </MudStack>
    </div>
</div>